{% extends "base_nobar.html" %}
{% block content %}

  <div class="jumbotron">
    <h2 class="text-center display-1">Recipe Homepage</h2>
  </div>

  <p>{{ text }}</p>
  <p>{{ count }}</p>

  {% for recipe in recipe_list %}
    <div class="row">
      <div class="col-sm">
        {{ recipe.title }}
      </div>
      <div class="col-sm">
        {{ recipe.description }}
      </div>
      <div class="col-sm">
        {{ recipe.method }}
      </div>
      <div class="col-sm">
        {{ recipe.tag }}
      </div>
    </div>
  {% endfor %}

{% endblock content %}
