{% extends "base.html" %}
{% block title %}Recipe List{% endblock title %}

{% block content %}

  <div class="container">
    <div class="jumbotron">
      <h2 class="text-center">Recipe List</h2>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm">
        <b>Title</b>
      </div>

    </div>
    {% for recipe in recipes %}
      <div class="row">
        <div class="col-sm">
          <a href="{% url 'recipe:detail' recipe.slug %}">{{ recipe.title }}</a>
        </div>

      </div>
    {% endfor %}

    <br/>
    <hr/>

    <br/>
    <p>Don't see a Recipe listed here?</p>
    <p>
      <a class="btn btn-primary" href="{% url 'books:add' %}" role="button">Add Recipe</a>
    </p>


  </div>
{% endblock content %}
