{% extends "base.html" %}
{% block title %}Books: {{ cheese.title }}{% endblock title %}

{% block content %}

<h2>{{ book.title }}</h2>
{% if book.subtitle %}
  <p>{{ book.subtitle }}</p>
{% endif %}
{% if book.author %}
  <p>{{ book.author }}</p>
{% endif %}
{% if book.description %}
  <p>{{ book.description }}</p>
{% endif %}
{% if book.isbn %}
  <p>{{ book.isbn }}</p>
{% endif %}
{% if book.publisher %}
  <p>{{ book.publisher }}</p>
{% endif %}
{% if book.type %}
  <p>{{ book.type }}</p>
{% endif %}
{% if book.form %}
  <p>{{ book.get_form_display }}</p>
{% endif %}
{% if book.status %}
  <p>{{ book.get_status_display }}</p>
{% endif %}

<hr/>

{% if book.creator %}
  <h3>Submitted by <a href="{{ book.creator.get_absolute_url }}">{{ book.creator.username }}</a></h3>
    {% if book.creator.name %}
        <p>{{ book.creator.name }}</p>
    {% endif %}
{% endif %}

<p>
  <a class="btn btn-primary" href="{% url 'books:update' book.slug %}" role="button">Update</a>
</p>

{% endblock content %}



