{% extends "base.html" %}
{% block title %}Books: {{ cheese.title }}{% endblock title %}

{% block content %}

<h2>Book Title : {{ book.title }}</h2>
{% if book.subtitle %}
  <p>Sub-Title : {{ book.subtitle }}</p>
{% endif %}
{% if book.author %}
  <p>Author : {{ book.author }}</p>
{% endif %}
{% if book.description %}
  <p>Description</p>
  <p>{{ book.description }}</p>
{% endif %}
{% if book.isbn %}
  <p>ISBN No. : {{ book.isbn }}</p>
{% endif %}
{% if book.type %}
  <p>Book Type : {{ book.type }}</p>
{% endif %}

{% endblock content %}



