{% extends "base.html" %}
{% block title %}Book Type List{% endblock title %}

{% block content %}

  <h2 class="display-2">List of Book Types</h2>
  <br/>

  <h3>Count by Book Type</h3>
  <div class="row">
    <div class="col-sm">
      <b>Book Type</b>
    </div>
    <div class="col-sm">
      <b>Count</b>
    </div>
  </div>
  <hr/>
  {% for row in view.result %}
    <div class="row">
      <div class="col-sm">
        <a href="{% url 'books:booktype_book_list' row.type %}">{{ row.type__type }}</a>
      </div>
      <div class="col-sm">
        <p>{{ row.count }}</p>
      </div>
    </div>
  {% endfor %}

  </br>

  <h3>Book Type (name order)</h3>
  <div class="row">
    <div class="col-sm">
      <b>Book Type</b>
    </div>
    <div class="col-sm">
      <b>Type Id</b>
    </div>
  </div>
  <hr/>
  {% for type in booktype_list %}
    <div class="row">
      <div class="col-sm">
        <a href="{% url 'books:booktype_book_list' type.id %}">{{ type.type }}</a>
      </div>
      <div class="col-sm">
        <p>{{ type.id }}</p>
      </div>
    </div>
  {% endfor %}

  <br/>
  <hr/>

  <br/>
  <p>Don't see an book type here?</p>
  <p>
    <a class="btn btn-primary" href="{% url 'books:add' %}" role="button">Add a Book Type</a>
  </p>

  <p></p>
  <br/>

{% endblock content %}
