{% extends "base.html" %}
{% block title %}Book List{% endblock title %}

{% block content %}

<h2>Book List</h2>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <b>Title</b>
    </div>
    <div class="col-sm">
      <b>Author</b>
    </div>
    <div class="col-sm">
      <b>Description</b>
    </div>
  </div>
  {% for book in book_list %}
    <div class="row">
      <div class="col-sm">
        <a href="{% url 'books:detail' book.slug %}">{{ book.title }}</a>
      </div>
      <div class="col-sm">
        {{ book.author }}
      </div>
      <div class="col-sm">
        {{ book.type }}
      </div>
    </div>
  {% endfor %}
</div>

<br/>
<hr/>
<p>Don't see a book listed here?</p>
<p>
  <a class="btn btn-primary" href="{% url 'books:add' %}" role="button">Add Book</a>
</p>

{% endblock content %}
