{% extends "base.html" %}
{% block title %}Blog List{% endblock title %}

{% block content %}

  <h2 class="display-2">Total Blog List</h2>
  <br/>

  {% for blog in page_obj %}
    <h2><a href="{% url 'blog:update' blog.id %}">{{ blog.title }}</a></h2>
    <p>{{ blog.description }}</p>
    <p><i>{{ blog.tag }}</i></p>
    <p>{{ blog.date }}</p>
    <br/>
  {% endfor %}

  <br/>
  <hr/>

  {% include "pagination.html" with page_obj=page_obj %}

  <br/>
  <p>Want to add a new blog entry?</p>
  <p><a class="btn btn-primary" href="{% url 'blog:add' %}" role="button">Add Blog entry</a></p>

{% endblock content %}
