{% extends "base.html" %}
{% block title %}Blog List{% endblock title %}

{% block content %}

  <h4 class="display-4">Total Blog List</h4>

  <p><a class="btn btn-primary" href="{% url 'blog:add' %}" role="button">Add Blog entry</a></p>
  <br/>

  {% for blog in page_obj %}
    <h5><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></h5>
    <p><i>{{ blog.tag }}</i></p>
    <p>{{ blog.date }}</p>
    <br/>
  {% endfor %}

  <br/>
  <hr/>

  {% include "pagination.html" with page_obj=page_obj %}

{% endblock content %}
