{% extends "base.html" %}
{% block title %}Blog Detail{% endblock title %}

{% block content %}

  <h4 class="display-4">Blog : {{ blog.id }}</h4>
  <br/>

    <h5>{{ blog.title }}</h5>
    <p>{{ blog.description|linebreaksbr }}</p>
    <p><i>{{ blog.tag }}</i></p>
    <p>{{ blog.date }}</p>
    <br/>

  <br/>
  <hr/>

  <br/>
  <a class="btn btn-primary" href="{% url 'blog:list' %}" role="button">Back</a>
  <a class="btn btn-primary" href="{% url 'blog:update' blog.id %}" role="button">Edit</a>
  <a class="btn btn-primary" href="{% url 'blog:delete' blog.id %}" role="button">Delete</a>

{% endblock content %}
