{% extends "base.html" %}
{% block title %}Blog{% endblock title %}

{% block content %}

  <h4 class="display-4">Latest 3 blog entries</h4>
  <br/>

  {% for blog in blogs %}
    <h5><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></h5>
    <br/>
  {% endfor %}

  <br/>
  <hr/>
  <br/>
  <p><a class="btn btn-primary" href="{% url 'blog:list' %}" role="button">List of all blog entries</a>
    <span><a class="btn btn-primary" href="{% url 'blog:add' %}" role="button">Add Blog entry</a></span></p>

{% endblock content %}
