{% extends "base.html" %}
{% block title %}Blog{% endblock title %}

{% block content %}

  <h4 class="display-4">Latest 3 blog entries</h4>

  <p><a class="btn btn-primary" href="{% url 'blog:list' %}" role="button">List of all blog entries</a>
    <a class="btn btn-primary" href="{% url 'blog:add' %}" role="button">Add Blog entry</a></p>
  <br/>

  {% for blog in blogs %}
    <h5><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></h5>
    <br/>
  {% endfor %}

  <hr/>
  <h4 class="display-4">Top 10 tags</h4>
  <p></p>

  {% for key, value in tags.items %}
    <div class="row">
      <div class="col-sm">
        <h5><a href="{% url 'blog:tag_list' key %}">{{ key }}</a></h5>
      </div>
      <div class="col-sm">
        <p>{{ value }}</p>
      </div>
    </div>
  {% endfor %}

{% endblock content %}
